.d3slider svg line.track {
stroke: rgba(0,0,200,0.5);
stroke-width: 4px;
}
.d3slider svg line.track-inset {
stroke: rgba(0,0,200,0.5);
stroke-width: 0px;
}
.d3slider svg line.track-overlay {
stroke: #ccc;
stroke-width: 40px;
stroke-opacity: 0;
cursor:pointer;
}
.d3slider svg .handle {
fill: rgba(220,0,0);
stroke: #000;
}
.d3slider svg .handle-inside {
border-radius: 5px;
background:red;
width: 5px;
height: 5px;
}
.d3slider svg line.track-overlay, .d3slider svg line.track, .d3slider svg line.track-inset {
stroke-linecap: round;
}
.slider{
	color: green;
}